<p id="notice"><%= notice %></p>

<p>
  <strong>Identificacion:</strong>
  <%= @student.identificacion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @student.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
