<p id="notice"><%= notice %></p>

<h1>Listing Subject Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Cod profesor</th>
      <th>Cod asignatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_teachers.each do |subject_teacher| %>
      <tr>
        <td><%= subject_teacher.cod_profesor %></td>
        <td><%= subject_teacher.cod_asignatura %></td>
        <td><%= link_to 'Show', subject_teacher %></td>
        <td><%= link_to 'Edit', edit_subject_teacher_path(subject_teacher) %></td>
        <td><%= link_to 'Destroy', subject_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject teacher', new_subject_teacher_path %>
