<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cod_tarea %><br>
    <%= f.number_field :cod_tarea %>
  </div>
  <div class="field">
    <%= f.label :cod_estudiante %><br>
    <%= f.text_field :cod_estudiante %>
  </div>
  <div class="field">
    <%= f.label :mensaje_de_respuesta %><br>
    <%= f.text_field :mensaje_de_respuesta %>
  </div>
  <div class="field">
    <%= f.label :calificacion %><br>
    <%= f.text_field :calificacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
